<html lang='en'>
    <head>
        <title></title>
        <meta http-equiv="refresh" content="5; url=/">
        <link rel="stylesheet" href="index.css">
        <script
          src="https://code.jquery.com/jquery-3.3.1.js"
          integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
          crossorigin="anonymous"></script>
    </head>
    <body charset="utf-6">
        <img src="https://images.unsplash.com/photo-1477281765962-ef34e8bb0967?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=31e82f46b077da92e44712da8f71bc51&auto=format&fit=crop&w=1532&q=80">
        <div class="bg"></div>
        <div class="vote">
            <h1>Thank you for Voting. Your Privacy Is Our Top Concern</h1>
            <a href="/"><strong>You Will Be Redirect Back In 5 Second.</strong></a>
        </div>
        
        <script type="text/javascript" src="index.js"></script>
    </body>
</html>